/*https://tgd.kr/c/css/18728438*/
:root
{
    --myvar: brown;
}
html {

    background: linear-gradient(to bottom, #dbe0da, var(--myvar));
   height: 100% !important;
 
 }
 
 
 
 body {
 
 background: 100%;
 
 animation: snow 20s linear infinite;

 overflow-y: hidden; overflow-x: hidden;

 
 
 
 /*백그라운드 이미지 원근감느낌 이미지*/
 
 background-image:url('https://cdn.discordapp.com/attachments/460145928850898945/515694458633846831/snow.png'), url("https://cdn.discordapp.com/attachments/460145928850898945/515694460668084274/snow3.png"), url("https://cdn.discordapp.com/attachments/460145928850898945/515694462278828073/snow2.png");
 
 }
 
 
 
 
 
 /*뒷배경 움직이는 애니메이션*/
 
 @keyframes snow {
 
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
 
 }
 .fullscreen
{
    width: 1000px;
    height: 100vh;
}
 .snowimg
 {
    
    width:40%;
    height: 100px;
    align-items: flex-end;

 }
 .snowimg img
 {
max-width: 50%;
height: auto;
display: flex;
margin: 30px 20px 10px 30px;



 }
 .snowimg:hover
 {
    height: 100%;
    width: 150%;
    display: block;
    padding-bottom: 50px;
    margin: 30px 20px 10px 30px;

    
}

.top
{
    color :red;
    background:rgba(226, 116, 116, 0.384);
    min-width: 600px;
    max-width: 100%;
    
}
.main
{
    padding-top: 50px;
    position: relative;

      
}